.search-result {
  position: absolute;
  z-index: 1;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  background: #f6f6f6;
}

.search-toggle {
  border: 1px solid #ced4da;
  background-color: #ffffff;
}

.search-toggle:hover {
  background-color: #e2e6ea;
}
