<div style="position: relative;">
  <div class="input-group">
    <div class="input-group-prepend" ngbDropdown>
      <button class="btn btn-light search-toggle" type="button" ngbDropdownToggle>{{ type }}</button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button class="dropdown-item" (click)="type='Collection'">Collection</button>
        <button class="dropdown-item" (click)="type='Endpoint'">Endpoint</button>
      </div>
    </div>
    <input type="text" class="form-control" placeholder="Search for API" (keyup)="queryKeyup()" (click)="queryKeyup()" [(ngModel)]="query">
  </div>
  <div class="list-group search-result" [hidden]="!dropdown">
    <span class="list-group-item list-group-item-action text-noselect" *ngFor="let col of collections" (click)="onSelect(col)">{{ col.name }}</span>
  </div>
</div>
