<div style="text-align: center;" *ngIf="!collection">
  <app-loading-spinner></app-loading-spinner>
</div>

<div class="row" *ngIf="collection">
  <div class="col-md-6">
    <div class="card shadow info-box">
      <div class="card-body bg-secondary text-white font-italic" style="overflow-y: auto;">
        <h5 class="display-5">{{ collection.name }}</h5>
        <p>{{ collection.description }}</p>
      </div>
      <div class="card-footer" *ngIf="user">
        <button  type="button" class="btn btn-outline-success" style="margin-right: 3px;" *ngIf="!hasFavorite()" (click)="favorite()"><i class="material-icons" style="font-size:16px;">playlist_add</i> Favorite</button>
        <button type="button" class="btn btn-outline-secondary" disabled><i class="material-icons" style="font-size:16px;">play_circle_outline</i> Use API</button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card shadow info-box" *ngIf="collection.endpoints && collection.endpoints.length">
      <div class="card-header">Available APIs</div>
      <div class="card-body" style="overflow-y: auto;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let e of collection.endpoints">{{ e.name }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="row" *ngIf="collection && collection.website">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <a [href]="iframeUrl()" target="_blank">Visit API site</a>
        <span class="text-danger float-right" style="font-size: 12px;">This link directs to an external website where we do not guarantee secrurity</span>
      </div>
      <div class="card-body">
        <div class="embed-responsive embed-responsive-1by1">
          <iframe class="embed-responsive-item" [src]="iframeUrl()" sandbox><p>Your browser does not support iframes. Visit the link above if you are interested in this site.</p></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
