.background{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}
.title{
    color : yellow;
    text-shadow: 1px 1px  yellowgreen;
}

.row{
    color : yellow;
    
}
.bigText{
    font-size: 36px;
}