
<img class="background" src="../../assets/images/starrySky.jpeg" >
<div class="container">
  <div class="py-5 text-center, title">
    <h2>Contact Us</h2>
    <h4>Leave us a message and we'll get back to you soon!</h4>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Contact Information</h4>
      <div *ngIf="!name; else forminfo">
        <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="fName">First Name</label>
              <input type="text" class="form-control" id="fName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lName">Last Name</label>
              <input type="text" class="form-control" id="lName" placeholder="" value="" required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="username">Username</label>
            <div class="input-group">
              <input type="text" class="form-control" id="username" placeholder="Username" required>
              <div class="invalid-feedback" style="width: 100%;">
                Your username is required.
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="email">Email
            </label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com">
            <div class="invalid-feedback">
              
            </div>
          </div>
          <div class="mb-3">
              <label for="issue">Issue
              </label>
              <input type="text" class="form-control" id="issue" placeholder="Your Issue">
              <div class="invalid-feedback">
                Please state your issue.
              </div>
            </div>
            <div class="mb-3">
              <label for="message">Message</label>
              <textarea type="textbox" class="form-control" id="message" required></textarea>
              <div class="invalid-feedback">
                Please fill out this form to reach us!
              </div>
            </div>
          <hr class="mb-4">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="save-info">
            <label class="custom-control-label" for="save-info">Save this information for next time</label>
          </div>

          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" value="Submit Form" type="submit" [disabled]="!rForm.valid">Submit Message</button>
        </form>
      </div>
    </div>
  </div>
</div>
<ng-template #forminfo>
  <h1>{{fname}}</h1>
  <h1>{{name}}</h1>
  <h1>{{username}}</h1>
  <h1>{{email}}</h1>
  <h1>{{issue}}</h1>
  <h1>{{message}}</h1>
</ng-template>