
<img class="background" src="../../assets/images/starrySky.jpeg" >
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 order-md-1">
        <div *ngIf="!fName; else forminfo">
        <div class="py-5 text-center title">
            <h1>Contact Us</h1>
          </div>
      <h4 class="mb-3">Contact Information</h4>
        <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="fName">First Name</label>
              <input type="text" class="form-control" id="fName" formControlName ="fName" placeholder="" value="" required>
              <div class="alert" *ngIf="!rForm.controls['fName'].valid && rForm.controls['fName'].touched">
                First name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lName">Last Name</label>
              <input type="text" class="form-control" id="lName" formControlName ="lName" placeholder="" value="" required>
              <div class="alert" *ngIf="!rForm.controls['lName'].valid && rForm.controls['lName'].touched">
                Last name is required.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="email">Email
            </label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com" formControlName ="email">
            <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">
              Please enter a valid email.
            </div>
          </div>
          <div class="mb-3">
              <label for="issue">Issue
              </label>
              <input type="text" class="form-control" id="issue" placeholder="Your Issue" formControlName ="issue">
              <div class="alert" *ngIf="!rForm.controls['issue'].valid && rForm.controls['issue'].touched">
                Please state your issue.
              </div>
            </div>
            <div class="mb-3">
              <label for="message">Message</label>
              <textarea type="textbox" class="form-control" id="message" required formControlName ="message"></textarea>
              <div class="alert" *ngIf="!rForm.controls['message'].valid && rForm.controls['message'].touched">
                Please fill this out to reach us!
              </div>
            </div>
          <!-- <hr class="mb-4">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="save-info">
            <label class="custom-control-label" for="save-info">Save this information for next time</label>
          </div> -->

          <hr class="mb-4">
          <button class="btn standardButton btn-lg btn-block" value="Submit Form" type="submit" [disabled]="!rForm.valid">Submit Message</button>
        </form>
      </div>
      <ng-template #forminfo>
          <div class="py-5 text-center, title">
            <h2>Contact Us</h2>
            <h4>Thank you for submitting your message! We will contact you shortly!</h4>
          </div>
          <div class="row bigText">
          Name: {{fName}} {{lName}}
          <br/>
          Email: {{email}}
          <br/>
          Issue: {{issue}}
          <br/>
          Message: {{message}}
        </div>
        </ng-template>
    </div>
  </div>
  
</div>
