<ngb-carousel>
    <ng-template ngbSlide>
        <img class="rounded mx-auto d-block" style="max-height:300px; margin:0 auto;" src="../../assets/images/about1.jpg?auto=yes"
            alt="Random first slide">
        <div class="carousel-caption">
            <h3>About Us</h3>
            <p>Caboodle</p>
        </div>
    </ng-template>
    <!-- <ng-template ngbSlide>
        <img class="rounded mx-auto d-block" style="max-height:300px; margin:0 auto;" src="../../assets/images/about2.jpeg" alt="Random second slide">
        <div class="carousel-caption">
            <h3>About Us</h3>
            <p>Caboodle</p>
        </div>
    </ng-template>
    //-->>
    <ng-template ngbSlide>
        <img class="rounded mx-auto d-block" style="max-height:300px; margin:0 auto;" src="../../assets/images/about3.jpeg" alt="Random third slide">
        <div class="carousel-caption">
            <h3>About Us</h3>
            <p>Caboodle</p>
        </div>
    </ng-template>
</ngb-carousel>

<!-- Carousel
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<br>
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-5">
            <img class="rounded-circle" src="../../assets/images/about_place1.jpeg" alt="Generic placeholder image" width="140" height="140">
            <h2>Hanyang Yu</h2>
            <p>Newest group member Hayden</p>
            <p>
                <a class="btn btn-secondary" routerLink="/contact" role="button">View details &raquo;</a>    <!--Once we have profiles we can link personal profiles here-->
            </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-5">
            <img class="rounded-circle" src="../assets/images/about_place2.jpeg" alt="Generic placeholder image" width="140" height="140">
            <h2>Matteo Peruzzi</h2>
            <p>Group leader Matteo.</p>
            <p>
                <a class="btn btn-secondary" routerLink="/contact" role="button">View details &raquo;</a>
            </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-5">
            <img class="rounded-circle" src="../../assets/images/about_place3.jpeg" alt="Generic placeholder image" width="140" height="140">
            <h2>Mark Wong</h2>
            <p>Local Green Party member Mark.</p>
            <p>
                <a class="btn btn-secondary" routerLink="/contact" role="button">View details &raquo;</a>
            </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-5">
            <img class="rounded-circle" src="../../assets/images/about2.jpeg" alt="Generic placeholder image" width="140" height="140">
            <h2>Shan Ariel Sioson</h2>
            <p>HTML enthusiast group member Shan</p>
            <p>
                <a class="btn btn-secondary" routerLink="/contact" role="button">View details &raquo;</a>
            </p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>