<img class="background" src="assets/images/sky.jpeg" >
<ngb-carousel>
    <ng-template ngbSlide>
        <img class="rounded mx-auto d-block" style="max-height:300px; margin:0 auto;" src="assets/images/grouppic.jpg"
            alt="Random first slide">
        <div class="carousel-caption">
            <h3>About Us</h3>
            <p>Innovation made easy!</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img class="rounded mx-auto d-block" style="max-height:300px; margin:0 auto;" src="assets/images/about2.jpeg" alt="Random second slide">
        <div class="carousel-caption">
            <h3>Stylish Format</h3>
            <p>Our Mission: to make API's sexy!</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img class="rounded mx-auto d-block" style="max-height:300px; margin:0 auto;" src="assets/images/about3.jpeg" alt="Random third slide">
        <div class="carousel-caption">
            <h3>Easy to Use</h3>
            <p>A few clicks, and you have an API at your disposal!</p>
        </div>
    </ng-template>
</ngb-carousel>

<!-- Carousel
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<br>
<div class="container marketing">
    <div class ="aboutCaboodle">
        <h1>About API Caboodle</h1>
        <p>API Caboodle is your place to find API's for free, hassle-free. You could find your favourite API's here easily,
            and if your campany's API isn't here, you can easily add it with a company account! If an API isn't here, let us know!</p>

    </div>
    <!-- Showing off our team -->
    <div class="ourTeam">
        <h1>Our Team</h1>

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                    <div class="teamCentred">
                        <img class="rounded-circle" src="assets/images/matteopic.png" alt="Generic placeholder image" width="140" height="140">
                        <h2>Matteo Peruzzi</h2>
                        <h4>Team Lead and Developer</h4>
                    </div>
            </div>
            <div class="col-lg-4">
            <div class="teamCentred">
                <img class="rounded-circle" src="assets/images/markpic.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Mark Wong</h2>
                <h4>Designer and Developer</h4>
            </div>
            </div>
            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                    <div class="teamCentred">
                    <img class="rounded-circle" src="assets/images/hyupic.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Hayden Yu</h2>
                    <h4>Developer</h4>
                </div>
            </div>

            <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="teamCentred">
                    <img class="rounded-circle" src="assets/images/shanpic3.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Shan Siosan</h2>
                    <h4>Developer</h4>
                </div>
            </div>
                <!-- /.col-lg-4 -->

        </div>
        <!-- /.row -->
    </div>
</div>
