<img class="background" src="../../assets/images/sky.jpeg" >
<ngb-carousel>
    <ng-template ngbSlide>
        <img class="rounded mx-auto d-block" style="max-height:300px; margin:0 auto;" src="../../assets/images/about1.jpg?auto=yes"
            alt="Random first slide">
        <div class="carousel-caption">
            <h3>About Us</h3>
            <p>Innovation made easy!</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img class="rounded mx-auto d-block" style="max-height:300px; margin:0 auto;" src="../../assets/images/about2.jpeg" alt="Random second slide">
        <div class="carousel-caption">
            <h3>Stylish Format</h3>
            <p>Our Mission: to make API's sexy!</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img class="rounded mx-auto d-block" style="max-height:300px; margin:0 auto;" src="../../assets/images/about3.jpeg" alt="Random third slide">
        <div class="carousel-caption">
            <h3>Easy to Use</h3>
            <p>A few clicks, and you have an API at your disposal!</p>
        </div>
    </ng-template>
</ngb-carousel>

<!-- Carousel
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<br>
<div class="container marketing">
    <!-- Showing off our team -->
    <div id="ourTeam">
        <h1>Our Team</h1>
    </div>
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
        <div class="teamCentred">
            <img class="rounded-circle" src="../../assets/images/markpic.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Mark Wong</h2>
            <h4>CTO and Senior Developer</h4>
        </div>
            <p>
                A firm innovator and wonderful person, he has developed a sense of humour that all would find hilarious. Graduated from the prestigious Seneca College, he has made a serious impact on Toronto's Tech community. 
            </p>
            <p>
                <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
                <div class="teamCentred">
                <img class="rounded-circle" src="../../assets/images/hyupic.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2>Hayden Yu</h2>
                <h4>Senior Developer</h4>
            </div>
            <p>
                A hardworking developer who has earned a name working for large companies like McDonalds and Walmart. His experience reflects greatly on this company.
            </p>
            <p>
                <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <div class="teamCentred">
                <img class="rounded-circle" src="../../assets/images/matteopic.png" alt="Generic placeholder image" width="140" height="140">
                <h2>Matteo Peruzzi</h2>
                <h4>CEO and Co-Founder</h4>
            </div>
            <p>
                Graduating from Seneca College, he is a man who enjoys the profundity of AS400 and PHP. His passion for API's and people have made his dream a reality.
            </p>
            <p>
                <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
                <div class="teamCentred">
                    <img class="rounded-circle" src="../../assets/images/shanpic2.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Shan Siosan</h2>
                    <h4>Forum Administrator</h4>
                </div>
                <p>
                    Shan continuously works hard at keeping our forums together and enjoys replying to all of your questions and concerns. He has experience in World of Warcraft, Runescape, Final Fantasy 14 and Club Penguin.
                </p>
                <p>
                    <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
                </p>
            </div>
            <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>