.carousel-caption{
    color : yellow;
    text-shadow: 1px 1px  yellowgreen;
}
#ourTeam{
    color: blue;
    text-shadow: 1px 1px  forestgreen;
    text-align: center;
}
.row{
    color: black;
    text-shadow: 1px 1px  lightgray;
    text-align: justify;
}
.teamCentred{
    text-align: center;    
    color : yellow;
    text-shadow: 1px 1px  yellowgreen;
}
.background{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}
