.carousel-caption{
    color : greenyellow;
    text-shadow: 1px 1px  limegreen;
}
#ourTeam{
    color: blue;
    text-shadow: 1px 1px  forestgreen;
    text-align: center;
}
.row{
    color: grey;
    text-shadow: 1px 1px  lightgray;
}
