    <div class="container">
      <div class="py-5 text-center">
        <h2>Create Subject</h2>
        <h4>All information is currently just a placeholder</h4>
      </div>
  
      <div class="row justify-content-center">
        <div class="col-md-8 order-md-1">
          <form class="needs-validation" (ngSubmit)="submitForm()" [formGroup]="formForum" novalidate>
  
            <div class="mb-3">
              <label for="Subject">Subject</label>
              <input type="text" class="form-control" id="Topic" placeholder="" formControlName="Topic" required>
              <div class="invalid-feedback">
                Please enter a subject title
              </div>
            </div>
              <div class="mb-4">
                <label for="Message">Message</label>
                <textarea type="textbox" class="form-control" id="Message" formControlName="Message" required></textarea>
                <div class="invalid-feedback">
                  Subject message cannot be blank!
                </div>
              </div>
            <hr class="mb-4">
  
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Post</button>
          </form>
        </div>
      </div>