<form [formGroup]="loginForm" (ngSubmit)="submitForm()">
<h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
<div class="container">
  <div class="row form-group">
    <div class="col-12">
      <input type="text" class="form-control" placeholder="Email address" autofocus formControlName="username"
        [ngClass]="{'is-invalid': invalidControl('username')}">
        <div class="invalid-feedback" [hidden]="!invalidControl('username')">Please enter a valid email you registered with</div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-12">
      <input type="password" class="form-control" placeholder="Password" formControlName="password"
        [ngClass]="{'is-invalid': invalidControl('password')}">
      <div class="invalid-feedback" [hidden]="!invalidControl('password')">Please enter the password</div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-2">
      <button class="btn btn-sm btn-primary" type="submit">Sign in</button>
    </div>
  </div>
</div>
</form>

