<div class="container">
    <div class="create-topic" align="center" >
        <a routerLink="/forum-subject-create">
        <button class="btn btn-primary btn-lg btn-block">Create New Topic</button>
        </a>
    </div>
    <div class="company-recent-api">
            <table class="table table-bordered">
                <tr>
                    <td>Topics</td>
                    <td>User</td>
                    <td>Date</td>
                </tr>
                <tr *ngFor="let topic of topicList">
                    <td scope="row"><a [routerLink]="['/forum-content/', topic.id]">{{topic.title}}</a></td>
                    <td scope="row">{{(topic.user.firstName + ' ' + topic.user.lastName)}}</td>
                    <td scope="row">{{topic.createdDate | date : 'yyyy-MM-dd'}}</td>
                </tr>
            </table>
    </div>
</div>
