<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title" style="display: inline-block;">Welcome{{ (user.firstName ? ', ' + user.firstName : '') + '!' }}</h4>
      <button style="border: none;background-color:transparent" (click)="updateProfile()"><i class="material-icons text-dark" style="font-size: 1.5rem;" ngbTooltip="Edit Profile" placement="right" >edit</i></button>
      <h6 *ngIf="user && user.email" class="card-subtitle mb-2 text-muted">{{ user.email.replace(emailName, '$1') }}</h6>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h6 style="display: inline-block;">Bookmarked Collections</h6>
      <a routerLink="/collection"><i class="material-icons text-dark float-right" style="font-size: 1.5rem;" ngbTooltip="Add Collections" placement="left">add</i></a>
      <app-collection-endpoint-list [collections]="user.bookmarks" needDeleteCol="true" (deleteCol)="deleteCollection($event)"></app-collection-endpoint-list>
    </div>
  </div>
  <div class="card shadow-basic">
      <div class="card-body">
        <h6 style="display: inline-block;">My Own Collections</h6>
        <a routerLink="/collection/create"><i class="material-icons text-dark float-right" style="font-size: 1.5rem;" ngbTooltip="Create Collections" placement="left">add</i></a>
        <app-collection-endpoint-list *ngIf="user.collections && user.collections.length" [collections]="user.collections"></app-collection-endpoint-list>
      </div>
    </div>
</div>
