export const environment: any = {
  host: 'http://localhost:4200',
  jwtSecret: 'some random string',
  logLevel: 'info',
  database:
    host: 'localhost',
    port: 3306,
    username: 'caboodle_admin',
    password: 'P@ssw03d',
    database: 'caboodle'
  },
  email: {
    username: 'caboodle.api@gmail.com',
    password: 'P@ssw03d'
  }
};
