<div class="container-fluid">
  <form [formGroup]="collectionForm" (ngSubmit)="submitForm()">
    <div class="form-group row">
      <div class="col-sm-2">
        <label>Name</label>
      </div>
      <div class="col-sm-5">
        <input class="form-control" type="text" placeholder="Example API"
        [ngClass]="{'is-invalid': invalidControl('name')}" formControlName="name">
        <div class="invalid-feedback">Name is requierd</div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2">
        <label>Category</label>
      </div>
      <div class="col-sm-5">
        <input class="form-control" type="text" placeholder="Government" formControlName="category">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2">
        <label>Tags</label>
      </div>
      <div class="col-sm-8">
        <input class="form-control" type="text" placeholder="Address, Map, Google" formControlName="tag">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2">
        <label>Website</label>
      </div>
      <div class="col-sm-8">
        <input class="form-control" type="text" placeholder="https://apidoc.com..."
        [ngClass]="{'is-invalid': invalidControl('website')}" formControlName="website">
        <div class="invalid-feedback">Please enter a valid url</div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2">
        <label>Description</label>
      </div>
      <div class="col-sm-10">
        <textarea class="form-control" formControlName="description"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <button class="btn standardButton" type="submit">Create</button>
      </div>
    </div>
  </form>
</div>
