<div class="container">
    <div class="title" align="center">
        <img src="../../assets/images/caboodle_with_background.png" alt="Generic placeholder image">
    </div>
    <br/>
    <div class="search" align="center">
        <a routerLink="/collection">
            <button class="btn btn-primary btn-lg">Search Catalog</button>
        </a>
    </div>
    <br/>
    <div class="forum" align="center">
        <a routerLink="/forum">
            <button class="btn btn-primary btn-lg">Forum</button>
        </a>
    </div>
    <br/>
    <div class="about-us" align="center">
        <a routerLink="/about">
            <button class="btn btn-primary btn-lg">About Us</button>
        </a>
    </div>
</div>