
.search-button {
  padding-top: 1%;
}

.row {
  margin: auto;
}

#right-col {
  margin: 0 0 0 auto;
} 
.standardButton{
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #1eff8f;
  color: white;
  text-shadow:     
  -1px -1px 0 #0dde6e,
  1px -1px 0 #0dde6e,
  -1px 1px 0 #0dde6e,
  1px 1px 0 #0dde6e;
}